<div class="text-layout">
  <h1> DecimalPipe & Porcentaje</h1>
  <p>
      Pipes incluidos en Angular - Usualmente en el Common Module.
  </p>  
</div>

<div class="p-grid">

    <div class="p-col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">
                <!-- Icono de prime -->
                <i class="pi pi-dollar"></i>
                {{ ventasNeta | number:'1.2-2'}}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Ventas Brutas"
                subheader="del presente año">
                <!-- sE SUMAN 2 Millones al valor ventasNeta -->
                {{ (ventasNeta + 2000000 ) | currency:'GTQ':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Ganancia porcentual"
                subheader="del presente año">
                <!-- sE SUMAN 2 Millones al valor ventasNeta -->
                {{ porcentaje | percent:'2.2-2' }}
        </p-card>
    </div>
    
</div>